<div class="notes">
  <p>Note: This page is for authorized users only</p>
  <p>Note: JWT is saved in local storage</p>
  <p>
    Note: If you edit the table and no changes please open console to see any
    errors
  </p>
</div>

<div class="actions">
  <button (click)="all()">All</button>
  <button (click)="withDebt()">With Debt</button>
  <button (click)="noDebt()">No Debt</button>
</div>

<ng-container *ngIf="tenants$ | async as TENANTS">
  <app-table
    [data]="TENANTS"
    (onChanges)="tenantService.update($event)"
    (onRemove)="tenantService.delete($event)"
  ></app-table>
</ng-container>
<app-add-tenant></app-add-tenant>
